<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{recipe.name}}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <label class="btn-lg"><input type="radio" class="btn btn-sm btn-outline-secondary" value="i" name="rdoSystem" [(ngModel)]="system"> Imperial </label>&nbsp;
      <label class="btn-lg"><input type="radio" class="btn btn-sm btn-outline-secondary" value="m" name="rdoSystem" [(ngModel)]="system"> Metric </label>
    </div>
    <label class="btn-sm">
      <input type="text" class="btn-sm btn-outline-secondary col-2" [(ngModel)]="servings"> Servings
    </label>
  </div>
</div>

<h2>Ingredients</h2>
<div>
  <ul>
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ingredient.quantity * servings | unit: ingredient.unit : ingredient.unitType : system }} {{ingredient.name}}
    </li>
  </ul>
</div>
<h2>Method</h2>
<ol>
  <li *ngFor="let step of recipe.steps">{{step}}</li>
</ol>
